.animation__loselives,
.animation__gainlives,
.animation__gainscore,
.animation__gainmoney,
.animation__losemoney,
.animation__levelup {
  @include font-size-responsive($delta);
  pointer-events: none;
  visibility: hidden;
  transition: transform 1s ease-out, opacity 1s ease-out;
  position: absolute;
}

.animation__loselives--scoreboard,
.animation__gainlives--scoreboard,
.animation__gainscore--scoreboard,
.animation__gainmoney--scoreboard,
.animation__losemoney--scoreboard,
.animation__levelup--scoreboard {
  left: 50%;
  top: 0;
}

.animation__loselives,
.animation__gainlives {
  color: $life;
}

.animation__gainmoney {
  color: $money;
}

.animation__losemoney {
  color: $red;
}

.animation__gainscore {
  color: $score;
}

.animation__levelup {
  color: $level;
}

@keyframes flyUp {
  to {
    opacity: 0;
    transform: translate3d(0, -300%, 1px);
  }
}
