/*********/
/* Board */
/*********/

.board {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  width: 100%;
}

.board__field {
  background: $field;
  border: 0;
  height: 10%;
  margin: 0;
  padding: 0;
  width: 10%;

  &:hover,
  &:focus {
    background: $field-select;
  }
}

.start,
.end {
  // scss-lint:disable ImportantRule
  background: $start-end !important;

  &:hover,
  &:focus {
    // scss-lint:disable ImportantRule
    background: $start-end !important;
  }
}

.locked {
  outline: 1px solid $locked;
}
