/*********/
/* Board */
/*********/

.board {
  background-color: $board;
  border: 5px solid $board-dash;
  display: inline-block;
  height: 100%;
  margin-left: 180px;
  min-height: 320px;
  min-width: 320px;
  position: relative;
  width: 100%;
}

.board--alt {
  margin: 0;
}

.board__field {
  align-items: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: left;
  height: 10%;
  margin: 0;
  padding: 0;
  width: 10%;

  &:hover,
  &:focus {
    background: $select;
  }
}

.start {
  border-left: 5px solid $start-end;
}

.end {
  border-right: 5px solid $start-end;
}

.start.gretel__breadcrumb--vertical-next-bottom {
  border-radius: 0 0 50%;
}

.end.gretel__breadcrumb--vertical-last-top {
  border-radius: 0 0 0 50%;
}

.start.gretel__breadcrumb--vertical-next-top {
  border-radius: 0 50% 0 0;
}

.end.gretel__breadcrumb--vertical-last-bottom {
  border-radius: 50% 0 0;
}
