/***********/
/* Builder */
/***********/

.selector {
  background-color: $deep-blue;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.2s;
  z-index: 900;
}

.selector__element {
  border: 0;
  margin: 5%;
  padding: 0;
  position: absolute;
  left: -15%;
  top: -15%;
  width: 60%;
  height: 60%;
}

// place elements on a circle based on the number of elements
@for $i from 2 through 10 {
  $divider: 2;
  $pusher: $i;

  .selector__element:first-child:nth-last-child(#{$i}),
  .selector__element:first-child:nth-last-child(#{$i}) ~ .selector__element {
    @if $i == 2 {
      $divider: 1;
      $pusher: 3;
    } // that elements do not get too large
    top:  50%;
    left: 50%;
    width: 100% / ($i / $divider);
    height: 100% / ($i / $divider);
    margin: -((100% / ($i / $divider)) / 2);
    $angle: (360 / $i);
    $rot: 0;

    @for $j from 1 through $i {
      &:nth-of-type(#{$j}) {
        transform: rotate($rot * 1deg) translate(25% * $pusher) rotate($rot * -1deg);
      }
      $rot: $rot + $angle;
    }
  }
}
