.gretel {
  position: absolute;
  background: red;
  width: 5%;
  height: 5%;
}

// .kid {
//   background: orange !important;
// }

.gretel__breadcrumb {
  background-color: $path;
}

/**********/
/* Creeps */
/**********/
.c {
  background-color: #000;
  position: absolute;
  width: 5%;
  height: 5%;
}

.c__l1 {
  background-color: #000;
}

.c__l2 {
  background-color: #00f;
}

.c__hp-container {
  position: relative;
  width: 100%;
  height: 5px;
}

.c__hp {
  position: absolute;
  width: 60%;
  background: #ffa500;
}
