/**********/
/* Creeps */
/**********/
.c__l1 {
  background-color: #000;
  position: absolute;
  width: 5%;
  height: 5%;
}

.c__hp-container {
  position: relative;
  width: 100%;
  height: 5px;
}

.c__hp {
  position: absolute;
  width: 60%;
  background: #ffa500;
}
