$creeps: #F09 #F0F;

/**********/
/* Creeps */
/**********/
.c {
  background: nth($creeps, 1);
  background-image: linear-gradient(to bottom right, nth($creeps, 1), nth($creeps, 2));
  border-radius: 50%;
  height: 5%;
  position: absolute;
  width: 5%;
}

/**
 * a different size based on the creeps hp attribute:
 * if the creep has only 50% hp = 0.5 = i then the creeps
 * scale is 0.5 = 50% as well
 **/
@for $i from 0 through 10 {
  .c[data-hp="#{$i}"] {
    transform: translate(50%, 35%) scale($i / 10, $i / 10);
  }
}

// creep specific styling
.c__l1 {
  background-color: $black;
}
