// custom
.extra-info__cost,
.extra-info__level,
.extra-info__dmg,
.extra-info__cd {
  @include font-size-responsive($delta);
  background: $board;
  border-radius: 50%;
  height: 70px;
  line-height: 70px;
  position: absolute;
  width: 70px;
}

@include extra-info-overlay('cost', $t-cost, 'topleft');
@include extra-info-overlay('level', $t-level, 'topright');
@include extra-info-overlay('dmg', $t-damage, 'bottomleft');
@include extra-info-overlay('cd', $t-cd, 'bottomright');

.extra-info__container {
  margin: auto;
  overflow-y: auto;
  padding: 15px 30px;
}

.extra-info__img-container {
  margin-bottom: 10px;
  text-align: center;
}

.extra-info__img {
  box-shadow: 0 0 10px rgba($black, 0.5);
  width: 100%;
}

.extra-info__title {
  @include heading-alpha;
  margin: -60px 10px 20px;
}

.extra-info__description {
  @include font-size-responsive($gamma);
  margin: 10px auto;
}


/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */

.dialog[aria-hidden="true"] {
  display: none;
}

/* -------------------------------------------------------------------------- *\
 * Styling to make the dialog look like a dialog
 * -------------------------------------------------------------------------- */

.dialog-overlay {
  background-color: rgba($black, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9000;
}

.dialog-content {
  background-color: $board;
  border: 5px solid $board-dash;
  color: $color;
  left: 50%;
  max-width: 300px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  z-index: 9001;

  @include media('>medium') {
    .dialog-content {
      padding: 36px;
    }
  }
}

.dialog-close {
  background-color: transparent;
  border: 0;
  color: $color;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  padding: 0;
  position: absolute;
  right: 8px;
  text-align: center;
  top: 8px;
  transition: 0.15s;
  width: 20px;
  z-index: 9002;

  @include media('>medium') {
    .dialog-close {
      right: 16px;
      top: 16px;
    }
  }
}
