/*******/
/* Gui */
/*******/

// width = 180px
.scoreboard {
  background-color: $board;
  color: $color;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  width: 165px;
  z-index: 1000;
}

.scoreboard--alt {
  display: block;
  padding: 0;
  width: 100%;
}

.scoreboard__el {
  @include font-size-responsive($gamma);
  margin: 5px;
}

.scoreboard__el--alt {
  display: inline-block;
}

/*
 * 1. reset weird button positioning
 */
.scoreboard__el--pause {
  background: $board;
  border: 2px solid $color;
  border-radius: 15px;
  padding: 0 10px 3px; /* 1. */
  color: $color;
}

/* Message */
.scoreboard__el--message {
  @include font-size-responsive($delta);
  border: 2px solid $color;
  border-radius: 15px;
  color: transparent;
  padding: 5px;
  transition: color 500ms, background 500ms;
  text-align: center;
}

.scoreboard__el--flash {
  color: $color;
}

/* Audio */
.scoreboard__el--audio {
    background: 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.scoreboard__icon {
  fill: $color;
  height: 40px;
  width: 40px;
}
