/*******/
/* Gui */
/*******/

// width = 180px
.scoreboard {
  color: $color;
  display: inline-block;
  margin: 15px;
  padding: 15px;
  vertical-align: top;
  width: 150px;
  z-index: 1000;
}

.scoreboard--alt {
  background-color: $board;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.scoreboard__hint::after,
.scoreboard__hint::before {
  pointer-events: none;
}

.scoreboard__hint[class*='player']::after {
  content: '';
  position: absolute;
  background: $board-dash;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) scale(1, 1);
}

.scoreboard__hint[class*='player']::before {
  content: 'enter your name';
  position: absolute;
  background: $board-dash;
  padding: 5px 10px;
  margin: -5px 115px;
  transform: scale(1, 1);
  z-index: 1;
  color: $color;
}
