/*******/
/* Gui */
/*******/

// width = 180px
.scoreboard {
  color: $color;
  display: inline-block;
  margin: 15px;
  padding: 15px;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}

.scoreboard--alt {
  background-color: $board;
  display: block;
  margin: 0;
  padding: 0;
  position: inherit;
  text-align: center;
  top: inherit;
  transform: translateY(0);
  width: 100%;
}

.scoreboard__hint {
  position: relative;
}

.scoreboard__hint::after,
.scoreboard__hint::before {
  pointer-events: none;
}

.scoreboard__hint[class*='player']::after {
  background: $board-dash;
  content: '';
  height: 20px;
  left: 50%;
  position: absolute;
  top: -20px;
  transform: translateX(-60px) rotate(45deg) scale(1,1);
  width: 20px;
}

.scoreboard__el[class*='alt']::after {
  display: none;
}

.scoreboard__hint[class*='player']::before {
  background: $board-dash;
  color: $color;
  content: 'enter your name';
  left: 0;
  padding: 5px 10px;
  position: absolute;
  top: -40px;
  transform: scale(1,1);
  width: 145px;
  z-index: 1;
}
