/* Icons */
.scoreboard__icon {
  display: inline-block;
  fill: $color;
}

.scoreboard__icon--audio {
  height: 35px;
  vertical-align: middle;
  width: 35px;
}

.scoreboard__icon--player,
.scoreboard__icon--money,
.scoreboard__icon--score,
.scoreboard__icon--lives,
.scoreboard__icon--level, {
  height: 20px;
  vertical-align: middle;
  width: 18px;
}

.scoreboard__icon--player,
.scoreboard__icon--player ~ input {
  color: $player;
  fill: $player;
}

.scoreboard__icon--money,
.scoreboard__icon--money ~ p {
  color: $money;
  fill: $money;
}

.scoreboard__icon--score,
.scoreboard__icon--score ~ p {
  color: $score;
  fill: $score;
}

.scoreboard__icon--lives,
.scoreboard__icon--lives ~ p {
  color: $life;
  fill: $life;
}

.scoreboard__icon--level,
.scoreboard__icon--level ~ p {
  color: $level;
  fill: $level;
}
