@mixin extra-info-overlay($element, $color, $position: 'topleft', $subels: true) {
  .extra-info__#{$element} {
    border: 3px solid $color;
    color: $color;
    @if($position == 'topleft') {
      left: -40px;
      top: -40px;
    } @else if($position == 'topright') {
      right: -40px;
      top: -40px;
    } @else if($position == 'bottomleft') {
      left: -40px;
      bottom: -40px;
    } @else if($position == 'bottomright') {
      right: -40px;
      bottom: -40px;
    } @else {}
  }

  @if($subels) {
    .extra-info__#{$element}-text {
      position: absolute;
      text-align: center;
      top: 40%;
      transform: translateY(-50%);
      width: 100%;
    }

    .extra-info__#{$element}-value {
      position: absolute;
      text-align: center;
      top: 60%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}
