@mixin font-size-responsive($sizes: $gamma, $lh: $line-height, $lhs: $line-height--small) {
  font-family: $ff;
  font-size: nth($sizes, 1) * 1px;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga' 1, 'kern' 1, 'dlig' 1;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: $lhs;

  @include media('>medium') {
    font-size: nth($sizes, 2) * 1px;
    line-height: $lh;
  }
}
