@mixin heading-alpha {
  @include font-size-responsive($alpha);
  font-weight: bold;
  line-height: $line-height--small;
}

@mixin heading-beta {
  @include font-size-responsive($beta);
  font-weight: bold;
  line-height: $line-height--small;
}
