$black: #000;
$white: #fff;

$dark-blue: #0B2433;
$deep-blue: #10344A;
$light-blue: #9DE2ED;

$purple: #6C73B0;

$red: #EB304A;
$green: #00BF00;
$yellow: #FFFF67;
$broun: #A09179;

$light-grey: #F9EFD2;
$grey: #C4C5C0;


$color: $light-grey;

$start-end: $red;

$board: $dark-blue;
$board-dash: $deep-blue;

$path: $deep-blue;

$select: $purple;
$selector: $deep-blue;

$t-rock: $grey;
$t-arrow: $yellow;
$t-sell: $red;
$t-radius: $green;

$player: $grey;
$money: $green;
$score: $yellow;
$life: $red;
$level: $light-blue;

