$black: #000;
$white: #fff;

$dark-blue: #0B2433;
$deep-blue: #0E2D40;
$light-blue: #9DE2ED;

$red: #EB304A;
$green: #0f0;
$yellow: #FFFF67;
$broun: #A09179;

$light-grey: #F9EFD2;
$grey: #C4C5C0;


$color: $light-grey;

$start-end: $red;

$board: $dark-blue;
$board-dash: $deep-blue;

$path: $yellow;

$field-select: $green;

$t-block: $grey;
$t-arrow: $light-grey;
$t-sell: $red;

