/*
 * Body
 */
html,
body {
  background-color: $board;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/*
 * screen readers only (accessibility)
 * also to hide elements visually
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Game
 */
 // scss-lint:disable SelectorFormat
.infiniteTD {
  background-color: $board;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
